RPINodeREd.json
[
    {
        "id": "855353a4.c7956",
        "type": "tab",
        "label": "Activity1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "13976d2f.39c7b3",
        "type": "tab",
        "label": "Activity2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "85bad617.6d3678",
        "type": "wiotp-credentials",
        "z": "",
        "name": "0800278823a5",
        "org": "3gn4cv",
        "serverName": "",
        "devType": "raspberrypi",
        "devId": "0800278823a5",
        "keepalive": "60",
        "cleansession": true,
        "tls": "",
        "usetls": false
    },
    {
        "id": "a454e05.09b822",
        "type": "inject",
        "z": "855353a4.c7956",
        "name": "timestamp",
        "topic": "",
        "payload": "String",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "47bf8e9f.10e68"
            ]
        ]
    },
    {
        "id": "47bf8e9f.10e68",
        "type": "random",
        "z": "855353a4.c7956",
        "name": "",
        "low": "1",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "6cdc07d0.d6c7a8"
            ]
        ]
    },
    {
        "id": "6cdc07d0.d6c7a8",
        "type": "function",
        "z": "855353a4.c7956",
        "name": "Format data",
        "func": "msg.payload = {'d' : {'random' : msg.payload}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "fc83b88c.84f368",
                "c69e28b0.939f98"
            ]
        ]
    },
    {
        "id": "fc83b88c.84f368",
        "type": "debug",
        "z": "855353a4.c7956",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "c69e28b0.939f98",
        "type": "wiotp out",
        "z": "855353a4.c7956",
        "authType": "d",
        "qs": "false",
        "qsDeviceId": "",
        "deviceKey": "85bad617.6d3678",
        "deviceType": "",
        "deviceId": "",
        "event": "event",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "655e537f.51199c",
        "type": "debug",
        "z": "13976d2f.39c7b3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "57c28f1b.90f8c",
        "type": "wiotp in",
        "z": "13976d2f.39c7b3",
        "authType": "d",
        "deviceKey": "85bad617.6d3678",
        "deviceType": "",
        "deviceId": "",
        "command": "+",
        "commandType": "g",
        "qos": 0,
        "name": "",
        "x": 320,
        "y": 220,
        "wires": [
            [
                "655e537f.51199c"
            ]
        ]
    }
]