SenseHatBlueMix.json
[
    {
        "id": "67341c93.4a0d64",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b8cc2512.968bd8",
        "type": "ibmiot in",
        "z": "67341c93.4a0d64",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "senb52212117175",
        "applicationId": "",
        "deviceType": "senseHat",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": false,
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "5d10aee4.08da",
                "c9552f4c.0b00a",
                "4b49d81b.fd4658",
                "afa9965e.e73568"
            ]
        ]
    },
    {
        "id": "5d10aee4.08da",
        "type": "debug",
        "z": "67341c93.4a0d64",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "c9552f4c.0b00a",
        "type": "function",
        "z": "67341c93.4a0d64",
        "name": "temperature",
        "func": "msg.payload = msg.payload.d.Data.Environment.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 140,
        "wires": [
            [
                "58c55ed6.eabe6"
            ]
        ]
    },
    {
        "id": "4b49d81b.fd4658",
        "type": "function",
        "z": "67341c93.4a0d64",
        "name": "humidity",
        "func": "msg.payload = msg.payload.d.Data.Environment.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 220,
        "wires": [
            [
                "660a6b22.dc9f74"
            ]
        ]
    },
    {
        "id": "afa9965e.e73568",
        "type": "function",
        "z": "67341c93.4a0d64",
        "name": "pressure",
        "func": "msg.payload = msg.payload.d.Data.Environment.pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "e95842bf.bed0a"
            ]
        ]
    },
    {
        "id": "58c55ed6.eabe6",
        "type": "ui_gauge",
        "z": "67341c93.4a0d64",
        "name": "temperature",
        "group": "7b045a2c.11b8e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "660a6b22.dc9f74",
        "type": "ui_gauge",
        "z": "67341c93.4a0d64",
        "name": "humidity",
        "group": "7b045a2c.11b8e4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "160",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "e95842bf.bed0a",
        "type": "ui_gauge",
        "z": "67341c93.4a0d64",
        "name": "pressure",
        "group": "7b045a2c.11b8e4",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pressure",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 860,
        "y": 300,
        "wires": []
    },
    {
        "id": "f91faf.7834505",
        "type": "ui_button",
        "z": "67341c93.4a0d64",
        "name": "",
        "group": "7b045a2c.11b8e4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 300,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7b045a2c.11b8e4",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "f53eeb9e.f8ff98",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f53eeb9e.f8ff98",
        "type": "ui_tab",
        "z": "",
        "name": "Environment",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]